* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F4F5F6;    
}

.logo {
    height: 30px;
    width: 30px;
}

.container-fluid {
    background-color: white;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;    
}

.content-1 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

.top-story {
    height: 1690px;
    overflow-y: scroll;   
}

.card-text {
    display: flex;
    padding-bottom: 2px;    
}

.my-card {
    background-color: #F4F5F6;
}

.top-story::-webkit-scrollbar {
    display: none;
}

.heading {
    font-size: 15px;
    color: #818285;
    font-weight: 900;
}

.heading-1 {
    font-size: 15px;
    font-weight: 900;
    color: #818285;
    padding-top: 20px;
}

.image{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
}

.image-1{
    height: 80px;
    width: 100px;
    
}

.image-2{
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center;
}

.border-1 {
    border: 2px solid #EE4957;
}

.border-2 {
    border: .7px solid rgb(189, 189, 189);
    border-right: 0;
    border-left: 0;
    padding-bottom:3px ;
    position: relative;
}

.border-3 {
    border: 2px solid #1C87FB;
}
 
.h-3 {
    font-size: 20px;
    line-height: 22px;
    color: #272727;
    font-weight: 400;
}

.h-3:hover {
    text-decoration: none;
    color: #272727;
}

.h-4 {
    font-size: 16px;
    line-height: 21px;
    color:black;
    padding-top: 20px;
    text-decoration: none;
}

.h-4:hover {
    text-decoration: none;
    color: #000;
}

.h-5 {
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 21px;
    color: #000;
    padding-top: 10px;
}

.h-6 {
    font-size: 18px;
    line-height: 5px;
    color: #000;
    padding-top: 7px;
    font-weight: 700;
}

.h-6-1 {
    font-size: 18px;
    line-height: 5px;
    color: white;
    font-weight: 700;
}

.h-6-2 {
    font-size: 16px;
    line-height: 2px;
    color: #EF4430;
    font-weight: 900;
}

.h-6-4 {
    font-size: 20px;
    line-height: 2px;
    color: #EF4430;
    font-weight: 900;
}

.h-6-3 {
    font-size: calc(6px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));;
    line-height: 5px;
    color: #000;
    padding-top: 7px;
    font-weight: 700;
}

.h-6-2:hover {
    text-decoration: none;
    color: #EF4430;
}

.h-5:hover,
.h-6:hover {
    color: #000;
    text-decoration-color:rgb(238, 73, 87) ;
}

.h-7 {
    font-size: 15px;
    font-weight: 700;
    line-height: 12px;
    color: #000;
}

.h-7:hover {
    color: #f72210;
    text-decoration: none;
}

.h-8 {
    font-size: 22px;
    line-height: 27px;
    color: #000;
    padding-top: 7px;
    font-weight: 700;
}

.last-con {
    color: #383838;
}

.muted {
    font-size: 12px;
    line-height: 10px;
    color: #55565A;
    font-weight: 700;
}

.container-1 {
    height: 40px;
    position: relative;
}

.debate {
    margin-left: 70%;
    top: -20px;
    left: 0;
    position: absolute;
}

.vs-cont {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-circle {
    width: 70px;
    height: 70px;
}

.vs {
    margin-top: 35px;
    margin-bottom: 35px;
    height: 30px;
    width: 30px;    
}

.par {
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.card-center {
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image-mag {
    height: 18rem;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.image-mag-2 {
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.under-button {
    display: flex;
    background-color: #DBDCDD;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.under-button-1 {
    display: flex;
    background-color:#EF4430;
    width: 40%;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.icon-arrow {
   font-weight: 900;
   font-size: 22px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.image-over {
    position: absolute;
    
    
    
}

.image-over-2 {
    position: relative;
    padding-top: 30px;
    padding-left: 80px;

}

.iphone {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 288px;
    background-image: url(/img/starting5-homepage.png);
    background-position: 50% 50%;

}

.card-iphone {
    height: 290px;
}

@media only screen and (max-width: 1024px) {
    .card-center {
        height: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .last-text {
        display: none;
    }

    .par {
        font-size: calc(6px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }

    body {
        padding: 0;    
    }

    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;   
        overflow: hidden;
    }


    .image-mag-2 {
        width: 100%;
        
    }

    .cover {
        padding-top: 15px;
    }
 
    .h-6-1 {
        font-size: 10px;
    }

    .h-6-2 {
        font-size: 10px;
    }

    .iphone {
        display: none;
    }


}