* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F4F5F6;    
}



.container-fluid {
    background-color: white;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;    
}

.content-1 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

.top-story {
    height: 1640px;
    overflow-y: scroll;
    
}

.top-story::-webkit-scrollbar {
    display: none;
}

.heading {
    font-size: 15px;
    color: #818285;
    font-weight: 900;
}

.heading-1 {
    font-size: 15px;
    font-weight: 900;
    color: #818285;
    padding-top: 20px;
}

.image{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
}

.image-1{
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
}

.image-2{
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center;
}

.border-1 {
    border: 2px solid #EE4957;
}

.border-2 {
    border: .7px solid rgb(189, 189, 189);
    border-right: 0;
    border-left: 0;
    padding-bottom:3px ;
    position: relative;
}

.border-3 {
    border: 2px solid #1C87FB;
}
 
.h-3 {
    font-size: 20px;
    line-height: 22px;
    color: #272727;
    font-weight: 400;
}

.h-3:hover {
    text-decoration: none;
    color: #272727;
}

.h-4 {
    font-size: 16px;
    line-height: 21px;
    color:black;
    padding-top: 20px;
    text-decoration: none;
}

.h-4:hover {
    text-decoration: none;
    color: #000;
}

.h-5 {
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 21px;
    color: #000;
    padding-top: 10px;
}

.h-6 {
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 5px;
    color: #000;
    padding-top: 7px;
    font-weight: 700;
}

.h-5:hover,
.h-6:hover {
    color: #000;
    text-decoration-color:#EE4957;
}

.h-7 {
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 700;
    line-height: 5px;
    color: #000;
}

.h-7:hover {
    color: #f72210;
    text-decoration: none;
}

.muted {
    font-size: 12px;
    line-height: 10px;
    color: #55565A;
    font-weight: 700;
}

.container-1 {
    height: 40px;
    position: relative;
}

.debate {
    margin-left: 70%;
    top: -20px;
    left: 0;
    position: absolute;
}

.vs-cont {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-circle {
    width: 70px;
    height: 70px;
}

.vs {
    height: 30px;
    width: 30px;    
}

.par {
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.card-center {
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media only screen and (max-width: 1024px) {
    .card-center {
        height: 15em;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .last-text {
        display: none;
    }

    .par {
        font-size: calc(6px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
}